<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div><h3>About me</h3></div>
                <div><img src="../images/profile.jpg" alt="Thanuja"></div>
                <div>
                    <h4><b>Thanuja Stewart</b></h4>
                </div>
                <div>
                    <p>
                        I am a stay-at-home Mom. I was working as a programmer before taking a break from career to care for my kids.<br>
                        I am able to update my knowledge through Udacity degree programs.
                       <i><u>Thank you for visiting my blog</u></i>:)
                    </p>
                    <p>
                        <b><i><q>Learn as though you would never be able to master it; hold it as though you would be in fear of losing it.</q> – Confucius</i></b>
                    </p>
                </div>
                <div class="social">
                    <div>
                        <a href="https://www.facebook.com/sharer.php?..." target="blank" rel="noopener noreferrer">
                            <img src="../images/fb.jpg" alt="Share Page on Facebook"/>
                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer">
                            <img src="../images/twitter.jpg" alt="Share Page on Twitter"/></a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/shareArticle?..." target="blank" rel="noopener noreferrer">
                        <img src="../images/linkedin.jpg" alt="Share Page on LinkedIn"/></a>
                    </div>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>