<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        The Allosaurus was a large dinosaur that lived around 150 million years ago. It was a carnivore with big, sharp teeth and there is even evidence to suggest that it attacked the much heavier Stegosaurus.
                     </p>
                    <ul>
                        <li> Allosaurus lived around 150 million years ago in the late Jurassic Period</li>
                        <li> The name Allosaurus means ‘different lizard’</li>
                        <li> Allosaurus was first described by Othniel Marsh in 1877 and become one of the first well known dinosaurs. Marsh also named and gave the first description of the Apatosaurus (Brontosaurus) in that same year</li>
                        <li> Most Allosaurus fossils have been found in the Morrison Formation, a distinctive band of sedimentary rock found in the western United States</li>
                        <li> Allosaurus had a large skull and walked on two legs</li>
                        <li> Its body and head were balanced by a long and heavy tail</li>
                        <li> Like the Tyrannosaurs rex, the Allosaurus had short arms. It had three fingers that were each tipped with sharp, curved claws</li>
                        <li> Research suggests that the average length of an Allosaurus was around 8.5 metres (28 feet) and that it weighed around 2.3 tons</li>
                    </ul>
                </div>
                <div>
                    <img src="../images/allosaurus.jpg" alt="allosaurus"/>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>