<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        <b><q>Allosaurus</q></b> was a large dinosaur that lived around <u>150 million years ago</u>. It was a <i>carnivore with big, sharp teeth</i> and there is even evidence to suggest that it attacked the much heavier Stegosaurus.
                     </p>
                    <ul>
                        <li> Allosaurus lived around 150 million years ago in the <b>late Jurassic Period</b></li>
                        <li> The name Allosaurus means <q><u>different lizard</u></q></li>
                        <li> Allosaurus was first described by <b>Othniel Marsh in 1877</b> and became one of the first well known dinosaurs</li>
                        <li> Most Allosaurus fossils have been found in the <i>Morrison Formation</i>, a distinctive band of sedimentary rock found in the western United States</li>
                        <li> Allosaurus had a large skull and walked on two legs</li>
                        <li> Its body and head were balanced by a long and heavy tail</li>
                        <li> Like the Tyrannosaurs rex, the Allosaurus had short arms. It had three fingers that were each tipped with sharp, curved claws</li>
                        <li> Research suggests that the average length of an Allosaurus was around <i>8.5 metres (28 feet)</i> and that it weighed around <i>2.3 tons</i></li>
                    </ul>
                </div>
                <div>
                    <img src="../images/allosaurus.jpg" alt="allosaurus"/>
                    <div class="caption">Allosaurus</div>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>