<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        <b><q>Apatosaurus</q></b> is also known as <i><u>Brontosaurus</u></i>, this giant dinosaur is one of the <i>largest animals</i> to have walked on Earth.</p>
                    <ul>
                        <li> The Apatosaurus is also well known as the Brontosaurus. Confusion was caused when bones of the giant dinosaur were first discovered back in <b>1877 by Othniel Charles Marsh</b>. After naming the new dinosaur Apatosaurus (meaning <q><u>deceptive lizard</u></q>), he later found a larger set of bones and incorrectly thought they were a new species which he then named Brontosaurus (meaning <q><u>thunder lizard</u></q>). It turns out that the second set of bones were just the adult version of the Apatosaurus. The name Brontosaurus caught on and it wasn’t until recently that the original and technically correct name Apatosaurus has gained widespread use among the public</li>
                        <li> Apatosaurus lived in the <b>Jurassic Period</b>, around <u>150 million years ago</u></li>
                        <li> The Apatosaurus is one of the largest animals to have ever walked on Earth, averaging around <i>23m (75ft) in length and a weight of over 23 metric tons</i></li>
                        <li> Apatosaurus had long whip-like tails that counter balanced their long necks</li>
                        <li> Apatosaurus was a plant eating (<i>herbivore</i>) dinosaur</li>
                    </ul>
                </div>
                <div>
                    <img src="../images/apatosaurus.jpg" alt="apatosaurus"/>
                    <div class="caption">Apatosaurus</div>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>