<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    <h1>DinoKids</h1>
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <ul>
                    <li>
                        What does a triceratops sit on?
                        (Its tricera-bottom!)
                    </li>
                    <li>
                        What do you call a sleeping dinosaur?
                        (A dino-snore!)
                    </li>
                    <li>
                        Why did the Archaeopteryx catch the worm?
                        (Because it was an early bird!)
                    </li>
                    <li>
                        What was T. rex's favorite number?
                        (Eight!)
                    </li>
                    <li>
                        Why did the dinosaur get in the bed?
                        (Because he was tired!)
                    </li>
                    <li>
                        Why did the dinosaur cross the road?
                        (It was the chicken's day off!)
                    </li>
                    <li>
                        Receptionist: Doctor, there's an invisible dinosaur in the waiting room.
                        Doctor: Tell her I can't see her!
                    </li>
                    <li>
                        What do you call a fossil that doesn't ever want to work?
                        (Lazy bones!)
                    </li>
                    <li>
                        What do you get when dinosaurs crash their cars?
                        (Tyrannosaurus wrecks!)
                    </li>
                    <li>
                        What did the dinosaur say after the car crash?
                        (I'm-so-saurus!)
                    </li>
                    <li> 
                        What do you call it when a dinosaur makes a goal with a soccer ball?
                        (A dino-score!)
                    </li>
                    <li>
                        What do you call a plated dinosaur when he is asleep?
                        (Stegosnorus!)
                    </li>
                    <li>
                        What do you call it when a dinosaur makes a goal with a soccer ball?
                        (A dino-score!)
                    </li>
                    <li>
                        What do you call a dinosaur with no eyes?
                        (Do-ya-think-he-saw-us!)
                    </li>
                    <li>
                        What's the best way to talk to a Tyrannosaur?
                        (Long distance!) 
                    </li>
                    <li>
                        should you do if you find a dinosaur in your bed?
                        (Find somewhere else to sleep!)
                    </li>
                    <li>
                        How do you know if there's a dinosaur under your bed?
                        (Your nose hits the ceiling!)
                    </li>
                    <li>
                        Mitchell: Why did the Triceratops cross the road?
                        Robert: He didn't, the chicken crossed the road.
                        Mitchell: Well, why did the chicken cross the road?
                        Robert: To get away from the Triceratops!
                    </li>
                    <li>
                        What happened when the dinosaur took the train home?
                        (She had to bring it back!)
                    </li>
                    <li>
                        How do you know if there's a dinosaur in your refrigerator?
                        (Look for footprints in the pizza!)
                    </li>
                    <li>
                        What do you get when a dinosaur sneezes?
                        (Out of the way!)
                    </li>
                    <li>
                        What's as big as a dinosaur but weighs nothing?
                        (Her shadow!)
                    </li>
                    <li>
                        Where do dinosaurs get their mail?
                        (At the dead-letter office!)
                    </li>
                    <li>
                        What is in the middle of dinosaurs?
                        (The letter "s"!)
                    </li>
                    <li>
                        Why didn't the dinosaur cross the road?
                        (There weren't any roads then!)
                    </li>
                    <li>
                        Where was the dinosaur when the sun went down?
                        (In the dark!)
                    </li>
                    <li>
                        What do you need to know to teach a dinosaur tricks?
                        (More than the dinosaur!)
                    </li>
                    <li>
                        How did the dinosaur feel after he ate a pillow?
                        (Down in the mouth!)
                    </li>
                    <li>
                        Did the dinosaur take a bath?
                        (Why, is there one missing?!)
                    </li>
                </ul>
            </div>
            <div class="footer">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>