<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "gallery-container">
            <div class="header">
                <div class="blog-title">
                    <h1>DinoKids</h1>
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="gallery-main box">
                <div><img src="../images/trex.jpg" alt="trex"></div>
                <div><img src="../images/velociraptor.jpg" alt="velociraptor"></div>
                <div><img src="../images/spinosaurus.jpg" alt="spinosaurus"></div>
                <div><img src="../images/allosaurus.jpg" alt="allosaurus"></div>
            </div>
        </div>
        <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
    </body>
</html>