<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    <h1>DinoKids</h1>
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <ul>
                    <li>
                        <b>What does a triceratops sit on?</b>
                        <i>(Its tricera-bottom!)</i>
                    </li>
                    <li>
                        <b>What do you call a sleeping dinosaur?</b>
                        <i>(A dino-snore!)</i>
                    </li>
                    <li>
                        <b>Why did the Archaeopteryx catch the worm?</b>
                        <i>(Because it was an early bird!)</i>
                    </li>
                    <li>
                        <b>What was T. rex's favorite number?</b>
                        <i>(Eight!)</i>
                    </li>
                    <li>
                        <b>Why did the dinosaur get in the bed?</b>
                        <i>(Because he was tired!)</i>
                    </li>
                    <li>
                        <b>Why did the dinosaur cross the road?</b>
                        <i>(It was the chicken's day off!)</i>
                    </li>
                    <li>
                        <b>Receptionist: Doctor, there's an invisible dinosaur in the waiting room</b>
                        <i>Doctor: Tell her I can't see her!</i>
                    </li>
                    <li>
                       <b>What do you call a fossil that doesn't ever want to work?</b>
                       <i>(Lazy bones!)</i>
                    </li>
                    <li>
                       <b>What do you get when dinosaurs crash their cars?</b>
                       <i>(Tyrannosaurus wrecks!)</i>
                    </li>
                    <li>
                        <b>What did the dinosaur say after the car crash?</b>
                        <i>(I'm-so-saurus!)</i>
                    </li>
                    <li> 
                        <b>What do you call it when a dinosaur makes a goal with a soccer ball?</b>
                        <i>(A dino-score!)</i>
                    </li>
                    <li>
                        <b>What do you call a plated dinosaur when he is asleep?</b>
                        <i>(Stegosnorus!)</i>
                    </li>
                    <li>
                        <b>What do you call it when a dinosaur makes a goal with a soccer ball?</b>
                        <i>(A dino-score!)</i>
                    </li>
                    <li>
                        <b>What do you call a dinosaur with no eyes?</b>
                        <i>(Do-ya-think-he-saw-us!)</i>
                    </li>
                    <li>
                        <b>What's the best way to talk to a Tyrannosaur?</b>
                        <i>(Long distance!)</i>
                    </li>
                    <li>
                        <b>should you do if you find a dinosaur in your bed?</b>
                        <i>(Find somewhere else to sleep!)</i>
                    </li>
                    <li>
                        <b>How do you know if there's a dinosaur under your bed?</b>
                        <i>(Your nose hits the ceiling!)</i>
                    </li>
                    <li>
                        <b>What happened when the dinosaur took the train home?</b>
                        <i>(She had to bring it back!)</i>
                    </li>
                    <li>
                        <b>How do you know if there's a dinosaur in your refrigerator?</b>
                        <i>(Look for footprints in the pizza!)</i>
                    </li>
                    <li>
                        <b>What do you get when a dinosaur sneezes?</b>
                        <i>(Out of the way!)</i>
                    </li>
                    <li>
                        <b>What's as big as a dinosaur but weighs nothing?</b>
                        <i>(Her shadow!)</i>
                    </li>
                    <li>
                        <b>Where do dinosaurs get their mail?</b>
                        <i>(At the dead-letter office!)</i>
                    </li>
                    <li>
                        <b>What is in the middle of dinosaurs?</b>
                        <i>(The letter <q>s</q>!)</i>
                    </li>
                    <li>
                        <b>Why didn't the dinosaur cross the road?</b>
                        <i>(There weren't any roads then!)</i>
                    </li>
                    <li>
                        <b>Where was the dinosaur when the sun went down?</b>
                        <i>(In the dark!)</i>
                    </li>
                    <li>
                       <b>What do you need to know to teach a dinosaur tricks?</b>
                        <i>(More than the dinosaur!)</i>
                    </li>
                    <li>
                       <b>How did the dinosaur feel after he ate a pillow?</b>
                       <i>(Down in the mouth!)</i>
                    </li>
                    <li>
                       <b>Did the dinosaur take a bath?</b>
                       <i>(Why, is there one missing?!)</i>
                    </li>
                </ul>
            </div>
            <div class="footer">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>