<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container-home">
            <div class="header">
                <div class="blog-title">
                    <h1>DinoKids</h1>
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                    <a href="contact.html">Contact</a>
                    <a href="about.html">About</a>
                </div>
            </div>
            <div class="sidebar box">
                <div><a href="trex.html">Tyrannosaurus</a></div>
                <div><a href="spinosaurus.html">Spinosaurus</a></div>
                <div><a href="velociraptor.html">Velociraptor</a></div> 
                <div><a href="allosaurus.html">Allosaurus</a></div>
                <div><a href="apatosaurus.html">Apatosaurus</a></div> 
                <div>Brachiosaurus</div>
                <div>Maiasaura</div>
                <div>Minmi</div> 
                <div>Utahraptor</div>
                <div>Diplodocus</div>
                <div>Troodon</div>
                <div>Oviraptor</div>
            </div>
            <div class="main-home box">
                <div>
                    <p>
                        Children have always been fascinated by dinosaurs, the massive reptiles that thundered across the Earth 200 million years ago.
                        <b>This blog is for all the kids who love dinosaurs. Taking my own son as an inspiration who loves and adores dinosaurs, I have created this blog.</b>
                        My son's interest in dinosaur started when he was about 3 years old. He is now 6 years old, and his love for dinosaurs has become more intense. <i>He loves to draw 
                        them, watch videos about them and read books about dinosaurs</i>:) His favourite dinosaur is <u>Achilobator</u>.
                    </p>
                    <p>
                        <q>Dinosaurs are the best way to teach kids, and adults, the immensity of of geologic time.</q> - <b>ROBERT T. BAKKER</b>
                    </p>
                </div>
                <div>
                    <img src="../images/dinosaurs.jpg" alt="dinosaurs">
                    <div class="caption">Dino World</div>
                </div>
                <div>
                    <a href="dinosaur_riddles.html">
                        <button>
                            <span>Dinosaur Riddles</span>
                        </button>
                    </a>
                    <a href="dinosaurs-gallery.html">
                        <button>
                            <span>Dinosaur Gallery</span>
                        </button>
                    </a>
                </div>
                
            </div>
            <div class="footer">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>