<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="/src/styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container-home">
            <div class="header">
                <div class="blog-title">
                    <h1>DinoKids</h1>
                </div>
                <div class="hlinks">
                    <a href="/src/views/dinokids-home.html">Home</a>
                    <a href="/src/views/contact.html">Contact</a>
                    <a href="/src/views/about.html">About</a>
                </div>
            </div>
            <div class="sidebar box">
                <div><a href="/src/views/trex.html">Tyrannosaurus</a></div>
                <div><a href="/src/views/spinosaurus.html">Spinosaurus</a></div>
                <div><a href="/src/views/velociraptor.html">Velociraptor</a></div> 
                <div><a href="/src/views/allosaurus.html">Allosaurus</a></div>
                <div><a href="/src/views/apatosaurus.html">Apatosaurus</a></div> 
                <div>Brachiosaurus</div>
                <div>Maiasaura</div>
                <div>Minmi</div> 
                <div>Utahraptor</div>
                <div>Diplodocus</div>
                <div>Troodon</div>
                <div>Oviraptor</div>
            </div>
            <div class="main-home box">
                <div>
                    <p>
                        This blog is for all the kids who love dinosaurs. Taking my own son as an inspiration who loves and adores dinosaurs, I have created this blog.
                    </p>
                </div>
                <div>
                    <img src="/src/images/dinosaurs.jpg" alt="dinosaurs">
                </div>
                <div>
                    <a href="/src/views/dinosaur_riddles.html">
                        <button>
                            <span>Dinosaur Riddles</span>
                        </button>
                    </a>
                    <a href="/src/views/dinosaurs-gallery.html">
                        <button>
                            <span>Dinosaur Drawings</span>
                        </button>
                    </a>
                </div>
                
            </div>
            <div class="footer">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>