<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="/src/styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="/src/views/dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        The name Spinosaurus refers to the huge spines that grew from its back, reaching over 1.5 metres (5 feet) in length. Read on to find out more interesting information about the Spinosaurus, including when it lived, where its first fossils were found and how much it weighed.</p>
                    <ul>
                        <li> The Spinosaurus lived around 100 million years ago in what is now North Africa</li>
                        <li> The name Spinosaurus means ‘spine lizard’</li>
                        <li> Fossils of the Spinosaurus were first found in Egypt around 1910</li>
                        <li>The Spinosaurus was larger than the Tyrannosaurus Rex and may have been the largest carnivorous (meat eating) dinosaur ever</li>
                        <li> Studies estimate that it was around 15 metres (49 feet) in length and weighed anywhere between 7 to 20 tons</li>
                        <li> The Spinosaurus featured distinctive spines which grew over 1.5 metres (5 feet) long</li>
                        <li> The Spinosaurus had a long, thin skull</li>
                        <li> While the Spinosaurus usually walked on two legs, studies suggest that it may have occasionally crouched on all four</li>
                        <li> Spinosaurus featured in the popular movie Jurassic Park 3</li>
                    </ul>
                </div>
                <div>
                    <img src="/src/images/spinosaurus.jpg" alt="spinosaurus"/>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>