<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        The name <b><q>Spinosaurus</q></b> refers to the huge spines that grew from its back.</p>
                    <ul>
                        <li>The Spinosaurus lived around <u>100 million years ago</u> in what is now North Africa</li>
                        <li>The name Spinosaurus means <q>spine lizard</q></li>
                        <li>Fossils of the Spinosaurus were first found in <b>Egypt around 1910</b></li>
                        <li>The Spinosaurus was larger than the Tyrannosaurus Rex and may have been the <i>largest carnivorous</i> (meat eating) dinosaur ever</li>
                        <li>Studies estimate that it was around <i>15 metres (49 feet) in length and weighed anywhere between 7 to 20 tons</i></li>
                        <li>The Spinosaurus featured distinctive spines which grew over 1.5 metres (5 feet) long</li>
                        <li>The Spinosaurus had a long, thin skull</li>
                        <li>While the Spinosaurus usually walked on two legs, studies suggest that it may have occasionally crouched on all four</li>
                        <li>Spinosaurus featured in the popular movie Jurassic Park 3</li>
                    </ul>
                </div>
                <div>
                    <img src="../images/spinosaurus.jpg" alt="spinosaurus"/>
                    <div class="caption">Spinosaurus</div>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>