<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        The name<b><q>Tyrannosaurus</q></b> comes from the Greek words meaning <q><u>tyrant lizard</u></q>, while the word <q><u>rex</u></q> means <q><u>king</u></q> in Latin.</p>
                    <ul>
                        <li> Tyrannosaurus rex lived in an area of the Earth that now makes up <b>western North America</b></li>
                        <li> Tyrannosaurus rex walked on two legs, balancing its huge head with a long and heavy tail that sometimes contained over 40 vertebrae</li>
                        <li> Tyrannosaurus rex measured up to <i>13m (42ft) in length, 4m (13ft)</i> at the hip and could weigh up to <i>7 tons</i>!</li>
                        <li> The <i>skull</i> of a Tyrannosaurus rex alone measured up to <i>1.5m (5ft) long</i></li>
                        <li> The largest tooth of any carnivorous dinosaur found to this date is that of a T-Rex. It is estimated to have been around 30cm (12in) long when including the root</li>
                        <li> When Tyrannosaurus rex hit around the <b>age of 14 its body size would increase rapidly, putting on around 600kg (1300lb) a year over the next 4 years</b></li>
                    </ul>
                </div>
                <div>
                    <img src="../images/trex.jpg" alt="trex"/>
                    <div class="caption">T-Rex</div>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>