<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="/src/styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="/src/views/dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <p>
                        The name ‘Tyrannosaurus’ comes from the Greek words meaning ‘tyrant lizard’, while the word ‘rex’ means ‘king’ in Latin.. Read on to find out more interesting information about T-rex, including when it lived, where its first fossils were found and how much it weighed.</p>
                    <ul>
                        <li> Tyrannosaurus rex lived in an area of the Earth that now makes up western North America</li>
                        <li> Tyrannosaurus rex walked on two legs, balancing its huge head with a long and heavy tail that sometimes contained over 40 vertebrae</li>
                        <li> Tyrannosaurus rex measured up to 13m (42ft) in length, 4m (13ft) at the hip and could weigh up to 7 tons!</li>
                        <li> The skull of a Tyrannosaurus rex alone measured up to 1.5m (5ft) long</li>
                        <li> The largest tooth of any carnivorous dinosaur found to this date is that of a T-Rex. It is estimated to have been around 30cm (12in) long when including the root</li>
                        <li> When Tyrannosaurus rex hit around the age of 14 its body size would increase rapidly, putting on around 600kg (1300lb) a year over the next 4 years</li>
                    </ul>
                </div>
                <div>
                    <img src="/src/images/trex.jpg" alt="trex"/>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html>