<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DinoKids</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <link rel="stylesheet" href="../styles/dinokids-home.css">
    </head>
    <body>
        <div class = "container">
            <div class="header">
                <div class="blog-title">
                    DinoKids
                </div>
                <div class="hlinks">
                    <a href="dinokids-home.html">Home</a>
                </div>
            </div>
            <div class="main box">
                <div>
                    <ul>
                        <li> The name <b><q>Velociraptor</q></b> means <q><u>swift seizer</u></q></li>
                        <li> Velociraptor lived in the late <b>Cretaceous Period</b> (<u>around 73 million years ago</u>)</li>
                        <li> The Velociraptor played a large role in the Jurassic Park movies but was often shown inaccurately. Rather than being a larger, human sized dinosaur, the Velociraptor was around the size of a Turkey. It is also believed to have had feathers that were not shown in the movie portrayal</li>
                        <li> A fully grown Velociraptor could grow up to <i>2m (6.6ft) in length, 0.5m (1.6ft) in height at the hip and weigh up to 15kg (33lb)</i></li>
                        <li> The Velociraptor is thought to have killed its prey with sickle shaped claws on its rear feet</li>
                        <li> The first known Velociraptor fossil was found in the <b>Mongolian Gobi Desert in 1922</b></li>
                        <li> One of the most famous dinosaur fossils ever found features a Velociraptor in the middle of battle with a Protoceratops</li>
                        <li> The NBA basketball team based in Toronto, Canada, are known as the Toronto Raptors. Both their team name and logo are based on the popular dinosaur</li>
                    </ul>
                </div>
                <div>
                    <img src="../images/velociraptor.jpg" alt="velociraptor"/>
                    <div class="caption">Velociraptor</div>
                </div>
            </div>
            <div class="footer box">Copyright © 2020 DinoKids, Inc.</div>
        </div>
    </body>
</html> 